<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head_pagina">

</head>
<style>
	#cabecalho{
		float:left;
	}
	
	
	#menuCadastro{
		float: left;
		margin-top: -4px;
		margin-left: -26px;
	}

	#div2{
		display: inline-block;
		float: left ;
		
		margin-left: 130px;
	}
</style>
<body>
	<div class="container" id="cabecalho">
		<div th:replace="fragments :: headers"></div>
	</div>

	<div class="container" id="menuCadastro">
		<div th:replace="fragments :: menu"></div>
	</div>


	<div align="center" class="container" id="div2">
		<h1>Medico Cadastrado Com Sucesso!!</h1>
		<span>Nome:  </span><span th:text="${medicos.nome}"></span><br />
		<span>Email: </span><span th:text="${medicos.email}"></span><br />
		<span>Telefone:  </span><span th:text="${medicos.telefone}"></span><br />
		<span>Especialidade:  </span><span th:text="${medicos.especialidade}"></span><br />
		
		
		<a  type="button" class="btn btn-primary" href="/cadastro/medicos/listar">Voltar Para a Lista de Medicos</a>
	</div>
	



	
	<div class="fixed-bottom">
		<div th:replace="fragments :: footer"></div>
	</div>



</body>
</html>