<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head_pagina">

</head>
<style>
#header{
	float: left;
}

#div2 {
	margin-top: 40px;
	float: center;
	padding-left: 130px;
}

#menuCadastroPaciente {
	float: left;
	margin-top: -4px;
	margin-left: -26px;
}
</style>
<body>
	<div class="container" id="header">
		<div th:replace="fragments :: headers"></div>
	</div>

	<div class="container" id="menuCadastroPaciente">
		<div th:replace="fragments :: menu"></div>
	</div>

	<div align="center" class="container" id="div2">
		<h1>Consulta j&aacute; est&aacute; Marcada!!!!</h1>
		<span th:text="${mensagemConsulta}"></span><br /> <a type="button"
			class="btn btn-primary" th:href="@{/cadastro/consultas/listar}">Clique
			para retornar a lista de Consultas</a>
	</div>



	<div class="fixed-bottom">
		<div th:replace="fragments :: footer"></div>
	</div>
</body>
</html>